<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <div class="login">
        <h1>SOCKET CHAT</h1>
        <form action="/auth" method="post">
            <input name="name" placeholder="Enter your name" required>
            <button>Join</button>
        </form>
    </div>
    <div class="info">
        <p>This is a chat application built with web socket. Flask framework and MySQL is used for backend</p>
    </div>
</body>

</html>